@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// seletor{
//  propriedade:valor;
//  }

// primeira coisa a fazer no arquivo de style é o reset 
// * seletor universal/global
// dentro do *{} so colocamos o reset
*{
   margin: 0; //espaço de fora da tag
   padding: 0; // espaço de dentro da tag
   box-sizing: border-box; //é utilizada para alterar o cálculo da largura e altura 
}

//body ao corpo do site
body{
   font-family: "Poppins", sans-serif;
   background-color: pink; // cor de fundo
}

img{
   width: 100px;// largura
   border-radius: 50%;
}

h1{
   //font-family, mudar o tipo de font
   
   font-family: "Nerko One", cursive;
   //color = cor
   color: rgb(105, 10, 26);
   //red, green, blue, 0 ao 255
}
// no index.html nos vamos nomear a tag -> class
// para chamar uma class aqui no style precisamos usar o: .nomeDaClass
.tituloMusicas{
   // propriedade:valor;
   color: blanchedalmond;
}

ol{
   //COR HEXADECIMAL
    //  # SEGUIDA DE 3 PARES, CADA PARA É REFERENTE AO RGB, 00, ff
   //background-color: #040433;
   //rgb + alpha(rgba) ele é referente ao uma cor com opacidade/trasparencia
   background-color: rgba(124, 40, 93, 0.203);
   color: azure;
}
